body {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  height: 800px;
  background-color: rgb(241, 241, 241);
}

#container {
  width: 300px;
  margin: auto;
  background-color: cadetblue;
}

#display {
  font-size: 20px;
  color: black;
  height: 50px;
  margin: 20px;
  padding: 10px;
  border: 1.5px dashed black;
  background-color: #a2bbcf;
}

#btn-container {
  margin: 20px;
}

button {
  font-family: "Orbitron", sans-serif;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}

button:hover {
  background-color: cornsilk;
}

button:focus {
  background-color: yellow;
}
